{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if not page.header.hidesidebarpage %}
  {% set content = pages.find('/sidebar').content %}
  {% if content %}
    <div class="sidebar_page {{ particle.css.class }}">
    {{ content|raw }}
    </div>
  {% endif %}
{% endif %}
{% endblock %}
