.sidebar_page {
    margin-top: -.7rem;
    margin-bottom: -2rem;
}

.blog_search {
    margin-top: .9rem;
}

.blog_tags {
    margin-top: .9rem;
}

div[data-grav-field="password"] {
   margin-bottom: 1rem;
}

body {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.75rem 0 -.60rem;
}

#g-sidebar, #g-aside {
    padding: 0;
}

.gantry-logo {
  font-size: 2rem;
  font-weight: 900;
}
